body {
    background-color: #1A4266;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 100px;
    background-color: #1A4266;
    color: #EEECD5
}

h3 {
    font-size: 30px;
    background-color: #1A4266;
    color: #EEECD5
}

p {
    font-size: 20px;
    background-color: #1A4266;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.blog-images {
    width: 300px;
    height: 120px;
    margin-left: 30px;
}

.blog-images img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    margin-right: 20px;
    display: inline-block;
}