body {
    background-color: #EEECD5;
    font-family: 'Poppins', sans-serif;
}

.main {
    padding: 50px;
}

h1 {
    font-size: 100px;
    background-color: #1A4266;
    color: #EEECD5;
    text-align: center;
}

h2 {
    font-size: 30px;
    border: 1px solid #f23c64;
    border-radius: 15px;
    background-color: #f23c64;
    color: #1A4266;
    padding: 20px;
    
}

h6 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

.social_icons img {
    width: 100px;
    height: auto;
    border-radius: 20%;
    margin-right: 5px;
}

@media screen and (max-width: 900px) {
    .flexbox {
      display: block;
    }
    .blog_images {
      margin: auto;
    }
  }

#footer {
    display: flex; 
    justify-content: center; 
}