
body {
    background-color: #EEECD5;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    background-color:#1A4266;
    text-align: center; 
}
nav li {
    display: inline-block; 
    width: 20%; 
    margin-right: -4px; 

}

nav a {
    height: 20%; 
    line-height: 20%; 
    color: #00B7C5;
}
nav a:hover {
    text-decoration: underline;
}
 
.top {
    display: inline-flex;
}

.intro {
    background-color: #1A4266;
    color: #EEECD5;
}

.logo {
    width: 50%;
    background-color: #1A4266;
}

h1 {
    font-size: 100px;
}

h3 {
    font-size: 30px;
    width: 80%;
}

h2 {
    margin-left: 20px;
    font-size: 50px;
    color: #1A4266;
}

.flex-container {
    background: #EEECD5;
    display: flex;
    flex-wrap: nowrap;
    
}

.flex-container .flex-box {
    width: 25%;
    border-radius: 20px;
    margin: 135px;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border: 1px solid #f23c64;
    background-color: #f23c64;
    color: white;
    
}

footer {
    display: flex; 
    justify-content: center; 
}