* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEECD5;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #1A4266;
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-top: 4vw;
}

/* Drop down menu */
.dropbtn {
    right: 0;
    background-color: #EEECD5;
    border-radius: 20px;
    color: #1A4266;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F5aebe;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f23c64;
}

h1 {
    font-size: 70px;
    background-color: #1A4266;
    color: #EEECD5;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 4vw;
}

h3 {
    color: #1A4266;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.employment {
    margin: 20px;
    margin-left: 25px;
}

.education {
    margin: 20px;
    margin-left: 25px;
}

.flex_box1 li {
    font-size: 18px;
}

.resume_download {
    display: flex;
    justify-content: center; 
}

#footer {
    display: flex; 
    justify-content: center; 
}

/* Screen resizing for desktop*/
@media screen and (min-width: 769px) {
    
    .summary {
        display: flex;
        flex-direction: row;
    }
}
